<div class="container p-5">
    <div class="row">

        <div class="col-md-7">
            {{> form }}
        </div>

        <div class="col-md-5">
            {{> filter }}
            {{!-- <h1>FILTRO</h1> --}}
        </div>

    </div>

    <br>

    <div class="row-md-7">
        {{> table }}
    </div>

</div>